body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

article {
  margin: 20px 0px;
  padding: 5%;
}

#eins {
  background-color: #3498db;
}

#zwei {
  background-color: #e74c3c;
}

#drei {
  background-color: #2ecc71;
}

.sidebar {
  float: right;
  width: 25%;
  padding: 20px;
  background-color: #f1f1f1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}



/* Stil für den gerundeten Rand */
.rounded-tag {
  border-radius: 10px;
  border: 2px solid #333;
  padding: 5px;
  display: inline-block;
}