body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  background-color: #292929; /* Dunkles Grau */
  color: #fff;
}

header {
  background-color: #3498db; /* Blau */
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #3498db;
}

article {
  margin: 20px 0px;
  padding: 5%;
  background-color: #1a1a1a; /* Dunkles Schwarz-Grau */
  color: #fff;
}

.sidebar {
  float: right;
  width: 25%;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.sidebar a {
  color: #3498db; /* Gleiche Farbe wie Header, aber weniger kräftig */
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #3498db; /* Gleiche Farbe wie Header, aber weniger kräftig */
  text-decoration: none;
}

.rounded-tag {
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 5px;
  display: inline-block;
}

.vote {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vote > button {

  padding: 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 22px;
}

.countNumber {
  font-size: 27px;
  width: 37px;
  text-align: center;
}